<% if @recommend.errors.any? %>
  <% @recommend.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit recommend #<%= @recommend.id %>
</h1>

<hr>

<form action="/update_recommend/<%= @recommend.id %>" method="post">

  <div class="form-group">
    <label for="song_id">
      Song
    </label>

    <%= select_tag(:song_id, options_from_collection_for_select(Song.all, :id, :artist, @recommend.song_id), :class => "form-control") %>
  </div>


  <div class="form-group">
    <label for="activity_id">
      Activity
    </label>

    <%= select_tag(:activity_id, options_from_collection_for_select(Activity.all, :id, :activity_name, @recommend.activity_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update recommend
  </button>
</form>

<hr>

<a href="/recommends">
  Go back
</a>
