<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Recommend #<%= @recommend.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/recommends" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @recommend.user %>
          <a href="/recommends/<%= @recommend.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit recommend
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @recommend.user %>
          <a href="/delete_recommend/<%= @recommend.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete recommend
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Song
      </dt>
      <dd>
        <% if @recommend.song.present? %>
          <a href="/songs/<%= @recommend.song_id %>">
            <%= @recommend.song.artist %>
          </a>
        <% end %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @recommend.user.present? %>
          <a href="/users/<%= @recommend.user_id %>">
            <%= @recommend.user.username %>
          </a>
        <% end %>
      </dd>

      <dt>
        Activity
      </dt>
      <dd>
        <% if @recommend.activity.present? %>
          <a href="/activities/<%= @recommend.activity_id %>">
            <%= @recommend.activity.activity_name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@recommend.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@recommend.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

