<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Activity #<%= @activity.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/activities" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link activity start -->
      <div class="col">
        <a href="/activities/<%= @activity.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit activity
        </a>
      </div>
      <!-- Edit link activity end -->

      <!-- Delete link activity start -->
      <div class="col">
        <a href="/delete_activity/<%= @activity.id %>" class="btn btn-block btn-outline-secondary">
          Delete activity
        </a>
      </div>
      <!-- Delete link activity end -->
    </div>

    <dl>
      <dt>
        Activity name
      </dt>
      <!-- Display activity_name start -->
      <dd>
        <%= @activity.activity_name %>
      </dd>
      <!-- Display activity_name end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@activity.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@activity.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->

<!-- Show Page Customization end -->
