<% if @songs_for_activity.errors.any? %>
  <% @songs_for_activity.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit songs for activity #<%= @songs_for_activity.id %>
</h1>

<hr>

<form action="/update_songs_for_activity/<%= @songs_for_activity.id %>" method="post">

  <div class="form-group">
    <label for="song_id">
      Song
    </label>

    <%= select_tag(:song_id, options_from_collection_for_select(Song.all, :id, :artist, @songs_for_activity.song_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="activity_id">
      Activity
    </label>

    <%= select_tag(:activity_id, options_from_collection_for_select(Activity.all, :id, :activity_name, @songs_for_activity.activity_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update songs for activity
  </button>
</form>

<hr>

<a href="/songs_for_activities">
  Go back
</a>
