<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All songs for activities
    </h1>

    <a href="/songs_for_activities/new" class="btn btn-block btn-outline-secondary">
      Add a new songs for activity
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "songs_for_activity_templates/songs_for_activities_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Song
        </th>

        <th>
          Activity
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @songs_for_activities.each do |songs_for_activity| %>
      <tr>
        <td>
          <%= songs_for_activity.id %>
        </td>

        <td>
          <% if songs_for_activity.song.present? %>
            <a href="/songs/<%= songs_for_activity.song.id %>">
              <%= songs_for_activity.song.artist %>
            </a>
          <% end %>
        </td>

        <td>
          <% if songs_for_activity.activity.present? %>
            <a href="/activities/<%= songs_for_activity.activity.id %>">
              <%= songs_for_activity.activity.activity_name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(songs_for_activity.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(songs_for_activity.updated_at) %> ago
        </td>

        <td>
          <a href="/songs_for_activities/<%= songs_for_activity.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @songs_for_activities, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
