<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All playlists songs
    </h1>

    <a href="/playlists_songs/new" class="btn btn-block btn-outline-secondary">
      Add a new playlists song
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Song
        </th>

        <th>
          Playlist
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @playlists_songs.each do |playlists_song| %>
      <tr>
        <!-- Display playlists_song.id start -->
        <td>
          <%= playlists_song.id %>
        </td>
        <!-- Display playlists_song.id end -->

        <!-- Display playlists_song.song_id start -->
        <td>
          <%= playlists_song.song.artist %>
        </td>
        <!-- Display playlists_song.song_id end -->

        <!-- Display playlists_song.playlist_id start -->
        <td>
          <%= playlists_song.playlist.playlist_name %>
        </td>
        <!-- Display playlists_song.playlist_id end -->

        <!-- Display playlists_song.created_at start -->
        <td>
          <%= time_ago_in_words(playlists_song.created_at) %> ago
        </td>
        <!-- Display playlists_song.created_at end -->

        <!-- Display playlists_song.updated_at start -->
        <td>
          <%= time_ago_in_words(playlists_song.updated_at) %> ago
        </td>
        <!-- Display playlists_song.updated_at end -->

        <td>
          <a href="/playlists_songs/<%= playlists_song.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @playlists_songs, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
