<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All playlists songs
    </h1>

    <a href="/playlists_songs/new" class="btn btn-block btn-outline-secondary">
      Add a new playlists song
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "playlists_song_templates/playlists_songs_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Song
        </th>

        <th>
          Playlist
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @playlists_songs.each do |playlists_song| %>
      <tr>
        <td>
          <%= playlists_song.id %>
        </td>

        <td>
          <% if playlists_song.song.present? %>
            <a href="/songs/<%= playlists_song.song.id %>">
              <%= playlists_song.song.artist %>
            </a>
          <% end %>
        </td>

        <td>
          <% if playlists_song.playlist.present? %>
            <a href="/playlists/<%= playlists_song.playlist.id %>">
              <%= playlists_song.playlist.playlist_name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(playlists_song.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(playlists_song.updated_at) %> ago
        </td>

        <td>
          <a href="/playlists_songs/<%= playlists_song.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @playlists_songs, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
