<% if @playlist.present? %>
  <% if @playlist.errors.any? %>
    <% @playlist.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new playlist
</h1>


<hr>

<form action="/create_playlist" method="post">

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3"><%= @playlist.description %></textarea>
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="playlist_name">
      Playlist name
    </label>

    <input type="text" id="playlist_name" name="playlist_name" class="form-control" value="<%= @playlist.playlist_name %>">
  </div>

  <div class="form-group">
    <label for="spotify_playlist_id">
      Spotify playlist
    </label>

    <input type="text" id="spotify_playlist_id" name="spotify_playlist_id" class="form-control" value="<%= @playlist.spotify_playlist_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create playlist
  </button>
</form>

<hr>

<a href="/playlists">
  Go back
</a>
