<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Playlist #<%= @playlist.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/playlists" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @playlist.user %>
          <a href="/playlists/<%= @playlist.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit playlist
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @playlist.user %>
          <a href="/delete_playlist/<%= @playlist.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete playlist
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Description
      </dt>
      <dd>
        <%= @playlist.description %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @playlist.user.present? %>
          <a href="/users/<%= @playlist.user_id %>">
            <%= @playlist.user.username %>
          </a>
        <% end %>
      </dd>

      <dt>
        Playlist name
      </dt>
      <dd>
        <%= @playlist.playlist_name %>
      </dd>

      <dt>
        Spotify playlist
      </dt>
      <dd>
        <%= @playlist.spotify_playlist_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@playlist.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@playlist.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "playlist_templates/playlist_playlists_for_activities" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "playlist_templates/playlist_playlists_songs" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "playlist_templates/playlist_activities" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "playlist_templates/playlist_songs" %>
  </div>
</div>
